# PYTHONPATH: variable de entorno que Python utiliza para buscar módulos cuando intentas importarlos. 
# en este caso, Python debe considerar el directorio src/ como un lugar donde buscar módulos
PYTHONPATH=./src

# Base de Datos Relacional
DB_NAME=base_de_conocimiento_chatbot
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Discord
DISCORD_TOKEN=
NOMBRE_CANAL_CHATBOT = # Canal específico para que el chatbot responda en ese espacio
ID_CANAL_CHATBOT =
